*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
/* Navigation Bar */
header{
    height: 10vh;
    position: sticky;
    z-index: 10;
    top: 0;
}
nav{
    text-align: center;
}
nav ul li{
    display: inline;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;

}
#faq{
    float: right;
    margin-right: 50px;
    margin-top: -10px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}
a:hover{
    color: #f0f0f0;
    background-color: black;
}